body{
    background-color: lightgray;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
  

}
h1{
   border-bottom: 2px; 
   color: crimson;
   font-size: 16px;
}
a:hover{
color: darkcyan;
text-decoration: darkslateblue;
}
p{
    row-gap: 5px;
}