body{
    background-color: lightgray;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
    row-gap: 84;

}
h1{
   border-bottom: 2px; 
   color: crimson;
   font-size: 16px;
}
link{
    color: darkblue;
    text-decoration: darkcyan;
    align-self: hover;
}